<div class="main">
    <div *ngIf="cartItems.length === 0" class="empty-cart">
        <p>Your cart is empty!</p>
        <a href="/">Continue Shopping</a>
    </div>
    <div *ngIf="cartItems.length> 0" class="main-container">
        <div class="cart-container">
            <h1>Review Item And Shipping</h1>
            <div class="cart-item" *ngFor="let n of cartItems">
                <div class="item-l">
                    <img [src]="n.path" [alt]="n.name" class="product-img">
                    <div class="item-info">
                        <p class="product-name">{{n.name}}</p>
                        <p class="product-seller">{{n.seller}}</p>
                        <div class="qty-input">
                            <input type="number" min="1" [value]="n.quantity" #quantityInput
                                (change)="updateQuantity(n.id, quantityInput.value)" class="quantity-input">
                        </div>
                    </div>
                </div>
                <button class="remove-btn" (click)="removeFromCart(n.id)">Remove form Cart</button>
                <div class="item-r">
                    <p class="product-price">Rs. {{n.price}}</p>
                    <p>Quanitity: {{n.quantity}}</p>
                </div>
            </div>

        </div>
        <div class="total-container">
            <div class="total-subcontainer">
                <span class="total-info">Total :</span>
                <span class="total-price">{{totalPrice}} Rs</span>
            </div>
            <button class="order-btn" (click)="toggleOrderPlaced()">Place Order</button>
        </div>
    </div>
</div>

<app-order-placed [hidden]="isOrderPlaced"></app-order-placed>