<div class="main">
    <div class="main-text">
        <h1>Shopping And Department Store.</h1>
        <p>Shopping is a bit of a relaxing hobby for me, which is sometimes troubling for the bank balance.</p>
        <button>Learn More</button>
    </div>
</div>

<div class="categories">
    <h2>Shop Our Top Categories</h2>
    <div class="category-container">
        <a *ngFor="let n of categories" class="category-item" [routerLink]="n.link"
            [ngStyle]="{'background-image': 'url(' + n.bg + ')'}">
            <h2>{{n.title}}</h2>
        </a>
    </div>
</div>